/* CSS declarations go here */

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

[class*="col-"] {
    float: left;
    padding: 15px;
    background-color:#F7F7F7;
}

body {
  font-family: Camphor, Open Sans, Segoe UI, sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#subplot {
	height: 30vh;
}

#simList {
	min-height: : 10vh;
	height: 40vh;
}

#simContainer {
	height: 40vh;
}

#deleteDiv {
	margin-bottom: 20px;
}

.table-hover > tbody > tr:hover {
  background-color: #D2D2D2;
}

.placeholderStyle {
	font-size: 32px;
	padding-top: 20px;
}

.form-control {
	width:unset;
	display: inline-block;
}

.selects {
	float:center;
}